<!DOCTYPE html>

<html>
  <head>
    <title>{{.title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="shortcut icon" type="image/png" href="/public/img/favicon.png">
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' 
    	  rel='stylesheet' type='text/css'>
    <script src="/public/js/jquery-1.9.1.min.js" type="text/javascript" 
	  charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="/public/css/application.css">
    {{range .moreScripts}}
      <script src="/public/{{.}}" type="text/javascript" charset="utf-8"></script>
    {{end}}
  </head>
  <body>
